<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebElectrodomesticos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Guardar</display-name>
    <servlet-name>Guardar</servlet-name>
    <servlet-class>controlador.Guardar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Guardar</servlet-name>
    <url-pattern>/Guardar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mostrar</display-name>
    <servlet-name>Mostrar</servlet-name>
    <servlet-class>controlador.Mostrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mostrar</servlet-name>
    <url-pattern>/Mostrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Baja</display-name>
    <servlet-name>Baja</servlet-name>
    <servlet-class>controlador.Baja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Baja</servlet-name>
    <url-pattern>/Baja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modificacion</display-name>
    <servlet-name>Modificacion</servlet-name>
    <servlet-class>controlador.Modificacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modificacion</servlet-name>
    <url-pattern>/Modificacion</url-pattern>
  </servlet-mapping>
</web-app>