*
{
margin:0;
padding:0px;
}
body
{
background-image:url("Imagenes/brushed1.png");
}
#general
{
margin-top:200px;
margin-left:200px;
border-color:#000000;
}
#cuerpo
{
width: 977px;
height:800px;
background-color:#CCCCCC;
line-heigt:40px;
	
}
table
{
	color: black;
	border-style:solid;
	border-color:black;
	margin: 0px 245px;;
}
#cuerpo #link
{
	text-align: center;
	margin: 250px auto;
}

td
{
	text-align: center;
}

#buscador
{
	text-align: center;
	padding-top: 10px;
}

#btnBuscar
{
height: 40px;
width: 60px;
}

#btnGuardar
{
height: 40px;
width: 60px;
}
#forModi
{
	text-align: center;
}
#divForm
{
	height: 230px;
	width: 300px;
	background-color: silver;
	margin-left: 363.5px;
}